
body ,html {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

/*
   Header
*/
.header {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 6em;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(to bottom, #aa1515 50%, #fff 50%);
    box-shadow:  0 0 10px 0 rgba(0,0,0,0.5);
    z-index: 2;
    overflow: hidden;
}

.header img {
    width: 90%;
    max-width: 16em;
    height: 4.5em;
}

/*
   Main
*/
.container {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 100%;
    grid-gap: 1em;
    justify-items: center;
    align-items: center;
    padding-top: 8em;
    width: 100%;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
}

.box-container-elements {
    display: grid;
    grid-auto-rows: 30em;
    grid-template-columns: repeat(auto-fit, minmax( min(100%, 20em), 1fr));
    grid-gap: 1em;
    justify-items: center;
    align-items: center;
    width: 90%;
    height: auto;
    padding: 1em;
    overflow: hidden;
}

.box-cart-pokemon {
    display: grid;
    grid-template-rows: 75% 25%;
    grid-template-columns: 100%;
    width: 90%;
    max-width: 20em;
    height: 26em;
    background: #fff;
    border-radius: 1em;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
}

.circle-red-pokemon {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #aa1515;
}

.box-title,
.box-about-pokemon
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-color: #aa1515;
    border-bottom-style: solid;
    border-bottom-width: 0.2em;
    border-left-color: #aa1515;
    border-left-style: solid;
    border-left-width: 0.2em;
    border-right-color: #aa1515;
    border-right-style: solid;
    border-right-width: 0.2em;
    overflow: hidden;
}

.box-about-pokemon {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: flex-end;
    overflow: visible;
}

.title-pokemon {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 3em;
  color: #aa1515;
  overflow: hidden;
}

.text-description {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.1em;
    color: #575656;
    line-height: 2em; 
}

.circle-white-pokemon {
    display: grid;
    justify-items: center;
    align-items: flex-end;
    width: 99%;
    height: 99%;
    border-radius: 50%;
    margin-top: 3em;
    background: #fff;
}

.circle-white-pokemon img {
    width: 75%;
    height: 75%;
    object-fit: cover;
    padding-bottom: 2em;
}

.img-svg {
    width: 1.5em;
    height: 1.5em;
    object-fit: cover;
    padding-right: 0.3em;
}


/*
   Hover events
*/
.box-cart-pokemon:hover {
    grid-template-rows: 45% 30% 25%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.box-cart-pokemon:hover .circle-white-pokemon  {
    width: 98%;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    align-items: flex-start;
}

.box-cart-pokemon:hover .circle-white-pokemon img   {
    width: 50%;
    height: 50%;
    padding: 2.7em;
}

.box-cart-pokemon:hover .box-title {
    border-bottom-right-radius: 0em;
    border-bottom-left-radius: 0em;
    border-bottom-color: #fff;
    border-bottom-style: solid;
    border-bottom-width: 0em;
    border-left-color: #aa1515;
    border-left-style: solid;
    border-left-width: 0.2em;
    border-right-color: #aa1515;
    border-right-style: solid;
    border-right-width: 0.2em;
}